**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
docker-compose.yaml
**/Dockerfile
**/Thumbs.db
symfony/.editorconfig
symfony/.env.*.local
symfony/.env.local
symfony/.env.local.php
symfony/.php_cs.cache
symfony/bin/*
symfony/!bin/console
symfony/!bin/admin
symfony/build/
symfony/symfony/docker/db/data/
symfony/helm/
symfony/public/bundles/
symfony/var/
symfony/vendor/
symfony/.container/
symfony/config/jwt
symfony/php.ini*
symfony/.env.test
symfony/