###> symfony/framework-bundle ###
symfony/.env.local
symfony/.env.local.php
symfony/.env.*.local
symfony/config/secrets/prod/prod.decrypt.private.php
symfony/public/bundles/
symfony/var/
symfony/vendor/
.DS_Store
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
symfony/phpunit.xml
symfony.phpunit.result.cache
###< phpunit/phpunit ###

###< symfony/phpunit-bridge ###
symfony/public/uploads/

###> symfony/webpack-encore-bundle ###
symfony/node_modules/
symfony/public/build/
symfonynpm-debug.log
symfonyyarn-error.log
###< symfony/webpack-encore-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

/tools/*/vendor/
/tools/local-php*
.idea/

###> lexik/jwt-authentication-bundle ###
/symfony/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

catch_me.pem
