parameters:
    level: 9
    scanDirectories:
        - ./src
    earlyTerminatingMethodCalls:
        PHPUnit\Framework\Constraint\Constraint:
            - fail
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'