{
	# Debug
	{$DEBUG}
	admin :2019 {
		origins "//localhost:2019" "//[::1]:2019" "//127.0.0.1:2019" "//*:2019"
	}
}

{$SERVER_NAME}

log

@maintenance expression {$MAINTENANCE_MODE} == 1

handle_errors {
	rewrite @maintenance maintenance.html
	root * /etc/caddy
	file_server
}

route {
	root * /srv/app/public
	push

	header {
		# Add links to the API docs if not set explicitly
		?Link `</docs.jsonld>; rel="http://www.w3.org/ns/hydra/core#apiDocumentation"`
		# Disable Google FLOC tracking if not enabled explicitly: https://plausible.io/blog/google-floc
		?Permissions-Policy "interest-cohort=()"
	}

	error @maintenance 503

	php_fastcgi {$PHP_SOCKET}
	encode zstd gzip
	file_server
}
